<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - _HighTeacherLayout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SchoolDB", "Index", "HighTeacher", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Про учителів", "Teachers", new { 
                       Teacher_birthday_start = new DateTime(1940,1,1),
                   Teacher_birthday_end=DateTime.Now, cr = 1})</li>
                    <li>@Html.ActionLink("Учителі та предмети", "Teacher_Subject", "HighTeacher")</li>
                    <li>@Html.ActionLink("Про класи", "Forms")</li>
                    <li>@Html.ActionLink("Про учнів", "Students", new
                   {Student_birthday_start=new DateTime(2000,1,1),
                   Student_birthday_end = DateTime.Now
                   })</li>
                    <li>@Html.ActionLink("Оцінки", "Marks", new
                   {MyDate_of_create_start = new DateTime(2020,1,1), 
                       MyDate_of_create_end = DateTime.Now,
                       Date_of_create_start = new DateTime(2020,1,1), 
                       Date_of_create_end = DateTime.Now
                   })</li>
                    <li>@Html.ActionLink("Розклад", "Timetable", "HighTeacher")</li>
                    <li>@Html.ActionLink("Статистика", "Rating", "HighTeacher")</li>


                </ul>
                <ul class="nav navbar-nav" style="float: right">
                    <li>@Html.ActionLink("Вийти", "Index", "Home")</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ІС "Школа. Підсистема роботи завуча з навчальної роботи" Коба Ю.Ю. ПЗПІ-19-6</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
