
@{
    Layout = "~/Views/Shared/_HighTeacherLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateTeacher</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Створення</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">ПІБ учителя</label>
                <div class="col-md-10">
                    @Html.TextBox("Teacher_name", $"Введіть ПІБ", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Кабінет</label>
                <div class="col-md-10">
                    @Html.TextBox("Teacher_room", $"Введіть номер кабінету", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Класне керівництво</label>
                <div class="col-md-10">

                    <select name="Form_id" id="Form_id" class="form-control">
                        @foreach (var item in ViewBag.Forms)
                        {
                            <option>@item</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Стать</label>
                <div class="col-md-10">
                    <select name="Teacher_sex" id="Teacher_sex" class="form-control">
                        @foreach (var item in ViewBag.Sex)
                        {
                            <option>@item</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Вчительська категорія</label>
                <div class="col-md-10">
                    <select name="Category_id" id="Category_id" class="form-control">
                        @foreach (var item in ViewBag.Categories)
                        {
                            <option>@item</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Дата народження</label>
                <div class="col-md-10">

                    <input type="date" class="form-control" value="1980-12-12"
                           name="Teacher_Birthday" id="Teacher_Birthday">

                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2">Електронна пошта</label>
                <div class="col-md-10">
                    @Html.TextBox("Teacher_post", $"Введіть електронну пошту", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Пароль</label>
                <div class="col-md-10">
                    <input type="password" name="Teacher_password" class="form-control" value="1111111" id="pass" />
                    <input type="checkbox" id="show" onchange="Show()" /> Показати пароль
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    @Html.Label("Mes", $"{@ViewBag.Mes}")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Зберегти" class="btn btn-default" />
                </div>
            </div>
        </div>
    }


    <div>
        @Html.ActionLink("Назад", "Teachers", new
            {
                Teacher_birthday_start = new DateTime(2000, 1, 1),
                Teacher_birthday_end = DateTime.Now
            })
    </div>
    <script src="~/Scripts/passScript.js"></script>

</body>
</html>
